<div class="cats_main">
<div class="list"
[@listAnimation] = "cats.length">
  <div *ngFor="let c of cats; let i = index;" [class.active]="clicked === c.cat" class="{{class}} item"
    (click)="clicked = c.cat"
    >
    <!-- <div *ngIf="class == 'dash--income'">
        <i class="fa fa-level-down fa-2x" aria-hidden="true"></i>
    </div>
    <div *ngIf="class == 'dash--cons'">
        <i class="fa fa-level-up fa-2x" aria-hidden="true"></i>
    </div> -->

    <div class="cat"
    (click)="choseCat(c)"

    >
      <div class="{{c.icon}} fa-2x icon_opacity"></div>
      {{c.cat}}
      
    </div>
    <button
    (click)="deleteCat(c.cat, i)"
    >+</button>
  </div>
</div>
<cat 
(addCat)="addCat($event)"
></cat>
</div>
