<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="top_nav_flex">
  <div class="navbar-header">
    <img class="navbar-brand" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div *ngIf="isLoggedIn()">
    <p class="navbar-text "> <span fxHide.xs> Logged In:</span> {{name}} <button class="fa fa-sign-out btn btn-danger" aria-hidden="true" (click)="logout()"> <span fxHide.xs>Logout</span> </button></p>
  </div>
  <div *ngIf="!isLoggedIn()">
    <p class="navbar-text ">Logged Out!</p>
  </div>
  </div>
</nav>

<div  class="container routeContainer" [@routeAnimation]="getDepth(myOutlet)">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>


  <!-- <div style="text-align:center">
    
  </div> -->

  <!-- <div *ngIf="user?.uid; else loginBox" class="head">
    <h3>Добро пожаловать в систему, </h3>
    
    <button class="fa fa-sign-out btn btn-danger" aria-hidden="true" (click)="logout()"> Logout</button>

  </div> -->
  <!-- <div *ngIf="isLoggedIn()">
    <dash></dash>
  </div> -->





  <!-- <ng-template #loginBox> -->

  <!-- </ng-template>   -->
  


<!-- <ul>
<li *ngFor="let d of val; let i = index">
<span>{{d.key}} : {{d.value}}</span>
</li>
</ul> -->