
    <div class="item col-md-12 col-xs-12 col-sm-12"
     (click)="activeButton()"
     [class.active]="active"
     [@activeAnimation]="'in'">
        
        <div class="descr"  >
          <div class="test1">
            <div>
                <span class="catName">{{catName}} </span>  
                <span class="date"> {{item.date}} </span>
            </div>
            <div>
                <i class="fa fa-pencil-square-o editButton" (click)="edit()" *ngIf="ChangeEdit"></i>
                <i class="fa fa-times removeButton" (click)="remove()" *ngIf="ChangeEdit"></i>
                <i class="fa fa-floppy-o saveButton" (click)="saveEdit(content)" *ngIf="!ChangeEdit"></i>
            </div>
          </div>
          <div class="test2">
            <div class="icon {{icon}}"></div>
            <span class="itemDescr" *ngIf="ChangeEdit">{{item.description}} </span>
            <textarea class="form-control" type="text" *ngIf="!ChangeEdit" [(ngModel)]="item.description"></textarea>
            <div class="money" *ngIf="class == 'dash--cons' && ChangeEdit">
                -{{item.money}}&nbsp;<span>грн.</span>   
            </div>
            <input class="form-control input_money" type="text" *ngIf="class == 'dash--cons' && !ChangeEdit" [(ngModel)]="item.money">
    
            <div class="money" *ngIf="class == 'dash--income' && ChangeEdit">
                +{{item.money}}&nbsp;<span>грн.</span>   
            </div>
            <input class="form-control input_money" type="text" *ngIf="class == 'dash--income' && !ChangeEdit" [(ngModel)]="item.money">

          </div>
 

        </div>

    </div>
